.captioned_image {
  display:table-cell;
  width:240px;
  padding-right:10px;
}

.caption {
  font-family:Arial, Sans;
  line-height:140%;
  width:240px;
  height:70px;
  padding:5px;
  font-size:12px;
}