body {
  padding: 0px;
  margin: 0px;
  font-family: verdana, helvetica, arial;
  font-size: 14px;
  color: #42454C;
  line-height:140%
}	

h1 {
  margin: 0px;
  padding: 10px 0px 2px 0px;
  font-size: 16px;
  color: #A21607;
  font-weight: bold;
  font-family: arial, helvetica, verdana;
}

p {
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 15px 0px;
}

em {
  color: #A21607;
  font-style: normal;
}

.photo { 
  margin: 10px 25px 25px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #696E79;
  float: left;
}

.contactInfo {
 padding: 0px 0px 20px 0px;
}	

.intro {
 clear: both;
}

.award {
  background-color: #E8E8E9; 
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 15px;
}

#menu {
  margin: 0px;
  background-color: #696E79;
  height: 70px;
  position: absolute;
  top: 0px;
  width: 100%;
}

#menu ul {
  display: inline;
  margin: 0px;
  padding: 0px;
}

#menu li {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
  float:left;
}

#menu li a {
  display: block;
  height: 70px;
  margin: 0px;
  padding: 0px;
  text-indent: -999999px;
  overflow: hidden;
}

#menu .fixed a {
  background: url(home.png);
  background-position: 0px 0px;
  width: 59px;
}

#menu .home a {
  background: url(home.png);
  background-position: -59px 0px;
  width: 59px;
}

#menu .home a:hover {
  background: url(home.png);
  background-position: -118px 0px;
  width: 59px;
}

#menu .cv a {
  background: url(cv.png);
  background-position: -41px 0px;
  width: 41px;
}

#menu .cv a:hover {
  background: url(cv.png);
  background-position: -82px 0px;
  width: 41px;
}

#menu .publications a {
  background: url(publications.png);
  background-position: -109px 0px;
  width: 109px;
}

#menu .publications a:hover {
  background: url(publications.png);
  background-position: -218px 0px;
  width: 109px;
}

#content {
  padding: 25px 80px 60px 45px;
  position: absolute;
  top: 80px;
  max-width: 850px;
}

#content a {
  color: #A21607;
}

#content a:hover {
  background-color: #E8E8E9;
}

#content ul {
  list-style-type: square;
  margin:  0px 20px 5px 25px;
  padding:  0px 0px 15px 10px;
  bottom: 0px;
  vertical-align: baseline;
}

#content li {
  padding: 8px 0px 4px 5px;
  vertical-align: baseline;
}
