body {
  padding: 0px;
  margin: 0px;
  font-family: arial, helvetica, verdana;
  font-size: 14px;
  color: #424242;
  line-height:140%
}	

h1 {
  margin: 0px;
  padding: 10px 0px 2px 0px;
  font-size: 16px;
  color: #424242;
  font-weight: bold;
  font-family: arial, helvetica, verdana;
}

p {
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 15px 0px;
}

.photo { 
  margin: 10px 25px 25px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #696E79;
  float: left;
}

.contactInfo {
  padding: 0px 0px 20px 0px;
}	

.intro {
  clear: both;
}

.award {
  background-color: #E8E8E9; 
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 15px;
}

#menu {
  margin: 0px;
  padding: 0px;
  background-color: #e5e5e5;
  width: 100%;
  border-bottom:1px solid #d2d2d2;
}

#menu ul {
  display: inline;
  margin: 0px;
  padding: 0px 0px 0px 45px;
}

#menu li {
  display: inline-block;
  position: relative;
  top: 4px;
  list-style: none;
  margin: 0px;
  padding: 20px 10px 5px 10px;
  border-bottom:4px solid transparent;
}

#menu li:hover {
  border-bottom:4px solid orange;
}

#menu li a {
  color: #a8a8a8;
  text-decoration:none;
}

#menu li.active a {
  color: #424242;
}

#menu li:hover a {
  color:#424242;
}

#content {
  padding: 25px 80px 60px 45px;
  max-width: 850px;
}

#content a {
  color: black;
}

#content a:hover {
  background-color: #E8E8E9;
}

#content ul {
  list-style-type: square;
  margin:  0px 20px 5px 25px;
  padding:  0px 0px 15px 10px;
  bottom: 0px;
  vertical-align: baseline;
}

#content li {
  padding: 8px 0px 4px 5px;
  vertical-align: baseline;
}
