body {
  padding: 0px;
  margin: 0px;
  font-family: arial, helvetica, verdana;
  font-size: 14px;
  color: #323232;
  line-height:140%
}	

h1 {
  margin: 0px;
  padding: 10px 0px 2px 0px;
  font-size: 16px;
  color: #790B1A;
  font-weight: bold;
  font-family: arial, helvetica, verdana;
}

strong { color: #790B1A; }

p {
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 15px 0px;
}

.photo { 
  margin: 10px 25px 25px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #7C7C7C;
  float: left;
}

#content .contactInfo { padding: 0px; }
#content .contactInfo img { margin-right:5px; }
#content .contactInfo a:hover { background-color: transparent; }	

.intro { clear:both; }

.award {
  background-color: #E0E0E0; 
  padding: 10px 15px;
  margin-top: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

#menu {
  margin: 0px;
  padding: 0px;
  background-color: #3F3F3F;
  width: 100%;
  border-bottom:1px solid #BEBEBE;
}

#menu ul {
  display: inline;
  margin: 0px;
  padding: 0px 0px 0px 45px;
}

#menu li {
  display: inline-block;
  position: relative;
  top: 6px;
  list-style: none;
  margin: 0px;
  padding: 30px 10px 2px 10px;
  border-bottom:6px solid transparent;
}

#menu li a {
  color: #646464;
  text-decoration:none;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}

#menu li:hover { 
  border-bottom:6px solid #790B1A; 
}

#menu li.active a { color: #E0E0E0; }
#menu li:hover a { color: #E0E0E0; }

#content {
  padding: 25px 80px 60px 45px;
  max-width: 850px;
}

#content a { color: #790B1A; }
#content a:hover { background-color: #E8E8E9;}

#content ul {
  list-style-type: square;
  margin:  0px 20px 5px 25px;
  padding:  0px 0px 15px 10px;
  bottom: 0px;
  vertical-align: baseline;
}

#content li {
  padding: 8px 0px 4px 5px;
  vertical-align: baseline;
}
